body {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    font-family: 'Kodchasan', sans-serif;
    color: #2d3c49;
}

.page-header {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 3px #7d97ad solid;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.page-header .header-logo {
    width: 80;
    height: 80;
    margin-left: 15px;
}

.page-header .header-text {
    margin-right: 15px;
}

.page-header h1 {
    font-size: 3.0em;
    margin: 0;
}

.page-header p {
    margin: 0;
    text-align: right;
}

.hero-image {
    height: 25%;
    overflow: hidden;
}

.hero-image .banner {
    max-width: 100%;
}

.featured-work {
    margin-left: 15px;
    margin-right: 15px;
}

.featured-work h2 {
    color: #7d97ad;
}

.featured-work .work-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    text-align: center;
    width: calc(33% - 40px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.grid-item:nth-child(1n+0) {
    margin-left: 0;
}

.grid-item:nth-child(3n+0) {
    margin-right: 0;
}

@media screen and (max-width: 800px) {
    .grid-item {
        width: calc(50% - 20px);
    }

    .grid-item:nth-child(1n+0) {
        margin-left: 0;
    }
    
    .grid-item:nth-child(2n+0) {
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .page-header h1 {
        font-size: 2.0em;
        text-align: right;
        margin: 0;
    }
        
    .grid-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.grid-item .item-image {
    max-width: 100%;
    max-height: 160px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
}

.grid-item .item-title {
    font-size: 2.25em;
    text-transform: uppercase;
}

.grid-item a {
    font-size: .75em;
    text-decoration: none;
    color: #2d3c49;
}